<div class="table-header">
	<span class="table-header-tools-left">
		商品名称:
		<input ng-model="search.goodsName" ng-change="searchChange()" type="text"/>
		商品类型:
		<select ng-model="search.goodsTypeId" ng-change="searchChange()">
			<option value="">全部类型</option>
			<option value="1">板材</option>
			<option value="2">五金</option>
			<option value="3">门</option>
			<option value="4">地板</option>
			<option value="5">方条</option>
			<option value="6">吊顶</option>
		</select>
	</span>
	<div class="table-header-tools-right">
		<button class="btn btn-default" ng-click="resetSearch()">清除筛选条件</button>
	</div>
</div>
<table>
	<tr><td>商品编号</td><td>商品名称</td><td>商品种类</td><td>库存</td><td>单位</td><td>产地</td><td>商家</td></tr>
	<tr ng-if="goodsList.length > 0" ng-repeat="goods in goodsList">
		<td>{{goods.id}}</td>
		<td>{{goods.goodsName}}</td>
		<td>{{goods.goodsTypeId}}</td>
		<td>{{goods.number}}</td>
		<td>{{goods.unit}}</td>
		<td>{{goods.address}}</td>
		<td>{{goods.factory}}</td>
	</tr>
	<tr ng-if="goodsList.length == 0"><td align="center" colspan="7">抱歉,未找到相关的数据!</td></tr>
</table>
<div class="table-bottom">
</div>