<div class="header">
	<div class="header-logo">
		<span class="glyphicon glyphicon-globe"></span>
		隆饰板材
	</div>
	<div class="header-nav">
		<div class="header-nav-item" ng-repeat="header in headerList" ng-click="headerClick($index)" ng-class="{true:'header-nav-item-check',false:''}[headerList[$index].active]">
			<div class="header-nav-item-icon">
				<span class="{{header.icon}}"></span>
			</div>
			<div class="header-nav-item-text">{{header.name}}</div>
		</div>
	</div>
	<div class="header-tools">
		<div class="header-tools-item">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-user icon-color"></span>
			</div>
			<div  class="header-nav-item-text">Admin</div>
		</div>
		<div class="header-tools-item" ng-click="systemExit()">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-off"></span>
			</div>
			<div  class="header-nav-item-text">退出</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="subnav">
		<div class="subnav-title">
			<span class="{{checkHeader.icon}}"></span>
			<span>{{checkHeader.name}}</span>
		</div>
		<div class="subnav-choose">
			<div class="subnav-choose-item" ng-repeat="sub in subList" ng-click="subClick($index)" ng-class="{true:'subnav-choose-item-check',false:''}[subList[$index].active]">
				<span class="{{sub.icon}}"></span>
				<span class="subnav-choose-item-text">{{sub.name}}</span>
			</div>
		</div>
	</div>
	<div class="sense">
		<div class="sense-title">
			<span class="{{checkSub.icon}}"></span>
			<span class="subnav-choose-item-text">{{checkSub.name}}</span>
		</div>
		<div ui-view="sense"></div>
	</div>
</div>
<style>
	body{
		background: url(img/main.png) !important;
	}
</style>