<div class="header">
	<div class="header-logo"></div>
	<div class="header-nav">
		<div class="header-nav-item" ng-click="headerClick(0)" ng-class="{true:'header-nav-item-check',false:''}[headerList[0].active]">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-cloud-download"></span>
			</div>
			<div  class="header-nav-item-text">出库管理</div>
		</div>
		<div class="header-nav-item" ng-click="headerClick(1)" ng-class="{true:'header-nav-item-check',false:''}[headerList[1].active]">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-cloud-upload"></span>
			</div>
			<div  class="header-nav-item-text">入库管理</div>
		</div>
		<div class="header-nav-item" ng-click="headerClick(2)" ng-class="{true:'header-nav-item-check',false:''}[headerList[2].active]">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-book"></span>
			</div>
			<div  class="header-nav-item-text">财务管理</div>
		</div>
		<div class="header-nav-item" ng-click="headerClick(3)" ng-class="{true:'header-nav-item-check',false:''}[headerList[3].active]">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-cog"></span>
			</div>
			<div  class="header-nav-item-text">系统设置</div>
		</div>
	</div>
	<div class="header-tools">
		<div class="header-tools-item">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-user icon-color"></span>
			</div>
			<div  class="header-nav-item-text">Admin</div>
		</div>
		<div class="header-tools-item" ng-click="systemExit()">
			<div class="header-nav-item-icon">
				<span class="glyphicon glyphicon-off"></span>
			</div>
			<div  class="header-nav-item-text">退出</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="subnav" ui-view="subnav"></div>
	<div class="sense" ui-view="sense"></div>
</div>
<style>
	body{
		background: url(img/main.png) !important;
	}
</style>