body{
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}
.login45{
	position: absolute;
	text-align: center;
	width: 360px;
	height: 360px;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	border: 10px solid rgba(233,233,233,0.3);
}
.login45-bg{
	width: 340px;
	height: 340px;
	background-color: rgb(233,233,233);
}
.tran45{
	z-index: 2;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}
.login35{
	position: absolute;
	text-align: center;
	width: 360px;
	height: 360px;
	left: 50%;
	top: 50%;
	margin-top: -218px;
	margin-left: 5px;
	border: 10px solid rgba(233,233,233,0.3);
}
.login35-bg{
	width: 340px;
	height: 340px;
	background-color: rgba(233,233,233,0.7);
}
.tran35{
	z-index: 1;
	transform:rotate(35deg);
	-ms-transform:rotate(35deg); 	/* IE 9 */
	-moz-transform:rotate(35deg); 	/* Firefox */
	-webkit-transform:rotate(35deg); /* Safari 和 Chrome */
	-o-transform:rotate(35deg); 	/* Opera */
}
.logo{
	position: absolute;
	z-index: 1;
	width: 400px;
	height: 70px;
	line-height: 70px;
	left: 50%;
	top: 50%;
	margin-left: -490px;
	margin-top: -50px !important;
	color: white;
}
.login-from{
	width: 270px;
	height: 320px;
	margin-left: 35px;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}
.celltop{
	height: 100px;
}
.cell{
	margin-top: 15px;
}
.notclick{
	pointer-events: none;
}