body{
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}
/**导航条样式**/
.header{
	background: url(../img/header.png);
	position: absolute;
	top: 3px;
	left: 0px;
	right: 0px;
	height: 82px;
	min-width: 1000px;
	-webkit-user-select:none;
    -moz-user-select:none;
	-ms-user-select:none;
}
.header-logo{
	position: absolute;
	top: 11px;
	left: 11px;
	height:60px;
	padding-left:8px;
	line-height:60px;
	color: #50a7b1;
	font-size:30px;
	font-family: KaiTi ;
	font-weight:bold;
	width: 300px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.header-nav{
	position: absolute;
	left: 340px;
	right: 151px;
	top: 11px;
	bottom: 11px;
}
.header-tools{
	position: absolute;
	right: 11px;
	width: 140px;
	top: 11px;
	bottom: 11px;
}
.header-nav-item{
	display: inline-block;
	width: 95px;
	height: 60px;
	border-radius:5px;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	color: #9e9e9e;
	font-weight: bold;
}
.header-tools-item{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius:5px;
	margin-left: 5px;
	text-align: center;
	cursor: pointer;
	color: #9e9e9e;
	font-weight: bold;
}
.header-nav-item > *,.header-tools-item > *{
	height: 0px;
}
.header-nav-item-icon{
	font-size: 20px;
	height: 35px;
	line-height: 35px;
}
.header-nav-item-text{
	height: 25px;
	line-height: 25px;
}
.header-nav-item:hover,.header-tools-item:hover{
	/*background: url(../img/header-nav-check.png);*/
	color: #6a9900;
}
.header-nav-item-check{
	color: #6a9900;
	background: url(../img/header-nav-check.png);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.header-nav-item:active,.header-tools-item:active{
	color: #6a9900;
	background: url(../img/header-nav-check.png);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
/**二级菜单样式**/
.subnav{
	position: absolute;
	top: 90px;
	left: 11px;
	width: 200px;
	background: #fff;
	bottom: 11px;
	border: 1px solid #C0C0C0;
	-webkit-user-select:none;
    -moz-user-select:none;
	-ms-user-select:none;
}
.subnav-title,.sense-title{
	background: url(../img/title.png);
	height: 34px;
	line-height: 34px;
	cursor: default;
	color: #ddd;
	padding-left: 8px;
	font-weight:bold;
	text-shadow: 0 1px 0 #222;
	border-bottom: 1px solid #C0C0C0;
}
.subnav-choose{
	margin-top: 0px;
	border-top:1px solid #C0C0C0;
}
.subnav-choose-item{
	padding-left: 8px;
	height: 25px;
	line-height: 25px;
	border-bottom:1px solid #C0C0C0;
	cursor: pointer;
}
.subnav-choose-item-text{
	display: inline-block;
}
.subnav-choose-item-check{
	background: #c0c0c0;
}
.subnav-choose-item:hover{
	background: #e0e0e0;
}
/*显示区域样式设置*/
.sense{
	position: absolute;
	top: 90px;
	right: 11px;
	left: 222px;
	background: #fff;
	bottom: 11px;
	border: 1px solid #C0C0C0;
}
.sense-add{
	text-align: center;
}
.sense-add-row{
	margin: 0 auto;
	width: 600px;
	height:34px;
	margin-top: 20px;
}
/*table样式*/
table{
	cursor: default;
	width: 100%;
	font-size:12px;
	border-bottom: 1px solid #DDD;
}
table tr{
	height: 29px;
}
table tr td{
	padding-left: 5px;
	border-right: 1px solid #CCC;
}
table tr:nth-child(odd){
	background-color: #F0F0F0;
}
table tr:nth-child(even){
	background-color: #FFF;
}
table tr:hover{
	background-color: #DDD;
}
table tr:first-child{
	height: 30px;
	color: #292929;
	font-weight:bold;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #BBB;
	background:url(../img/table-title.png) !important;
}
.table-warn{
	background-color: #D9534F !important;
}
table tr td:last-child{
	border-right: 0px !important;
}
.table-search{
	background: url(../img/table-bottom.png);
	height: 60px;
}
.table-header{
	background: url(../img/table-title.png);
	height: 30px;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	border-bottom: 1px solid #BBB;
}
.table-header-tools-left{
	display: inline-block;
	margin-top: 2px;
}
.table-header-tools-left input[text='input']{
	height: 24px;
	width: 150px;
}
.table-header-tools-left select{
	height: 24px;
	width: 100px;
}
.table-header-tools-right{
	float: right;
}
.table-header button{
	height: 25px !important;
	margin: 2px 0px 0px 0px !important;
	padding: 0px 8px 0px 8px !important;
	font-size: 12px;
	line-height: 25px !important;
}
.table-bottom{
	background: url(../img/table-bottom.png);
	height: 36px;
	line-height: 36px;
	padding: 0px 8px 0px 8px !important;
	border-bottom: 1px solid #BBB;
}
.text-right{
	text-align: right;
	font-weight: bold;
}
.table-bottom .pagination{
	float: right;
	margin-top: 2px !important;
}

.modal-search-goods{
	width: 1000px;
	top:50px !important;
}
.search-goods-title{
	height: 34px;
	line-height: 34px;
	padding-left: 8px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url(../img/title.png);
}
.table-search-goods tr:first-child{
	position: absolute !important;
	width: 100%;
}
.table-search-goods tr:first-child td{
	height: 30px;
}
.table-search-goods .t1{
	width: 25px;	
}
.table-search-goods .t2{
	width: 150px;	
}
.table-search-goods .t3{
	width: 300px;	
}
.table-search-goods .t4{
	width: 300px;	
}
.table-search-goods .t5,.table-search-goods .t6{
	width: 60px;	
}