<div class="subnav-title">
	<span class="glyphicon glyphicon-book"></span>
	<span>财务管理</span>
</div>
<div class="subnav-choose">
	<div class="subnav-choose-item" ng-click="subClick(0)" ng-class="{true:'subnav-choose-item-check',false:''}[subList[0].active]">
		<span class="glyphicon glyphicon-plus"></span>
		<span class="subnav-choose-item-text">添加支出信息</span>
	</div>
	<div class="subnav-choose-item" ng-click="subClick(1)" ng-class="{true:'subnav-choose-item-check',false:''}[subList[1].active]">
		<span class="glyphicon glyphicon-list-alt"></span>
		<span class="subnav-choose-item-text">支出信息列表</span>
	</div>
</div>
