<div class="search-goods-title">
	请输入查询条件
</div>
<div class="dialog-content">
	<table class="table-search">
		<tr>
			<td class="t1">列名</td>
			<td>条件</td>
		</tr>
		
		<tr>
			<td class="t1">编号</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td>名称</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td>品牌</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td>品牌</td>
			<td><input type="text"/></td>
		</tr>
	</table>
</div>
<div class="dialog-msg-bottom">
	<button class="btn btn-info btn-sm" type="button" ng-click="ok()">确定</button>
	<button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
</div>