<div class="search-goods-title">
	请选择需要添加的商品
</div>
<div class="dialog-content">
	<div class="table-header">
		<span class="table-header-tools-left">
			商品编号:
			<input type="text"/>
			商品名称:
			<input type="text"/>
		</span>
	</div>
	<div style="max-height: 400px;overflow: auto;">
		<table class="table-search-goods">
			<tr>
				<td class="t1"><input type="checkbox" name="check" value="-1"/></td>
				<td class="t2">商品编号</td>
				<td class="t3">名称</td>
				<td class="t4">品牌</td>
				<td class="t5">库存</td>
				<td class="t6">单位</td>
				<td class="t7">售价</td>
			</tr>
			<tr>
				<td class="t1"><input type="checkbox" name="check" value="-1"/></td>
				<td class="t2">GGGGG</td>
				<td class="t3">2.5</td>
				<td class="t4">GGGGG</td>
				<td class="t5">GGGGG</td>
				<td class="t6">GGGGG</td>
				<td class="t7">GGGGG</td>
			</tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
		</table>
	</div>
</div>
<div class="dialog-msg-bottom">
	<button class="btn btn-info btn-sm" type="button" ng-click="ok()">确定</button>
	<button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">返回</button>
</div>