<div class="search-goods-title">
	请输入查询条件
</div>
<div class="dialog-content">
	<div class="sense-add-row" style="width: 90%;">
		<div class="input-group">
			<span class="input-group-addon">
				商品编号
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请输入商品编号">
		</div>
	</div>
	<div class="sense-add-row" style="width: 90%;">
		<div class="input-group">
			<span class="input-group-addon">
				商品&nbsp;&nbsp;名
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请输入商品名称">
		</div>
	</div>
	<div class="sense-add-row" style="width: 90%;">
		<div class="input-group">
			<span class="input-group-addon">
				商品品牌
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请输入商品品牌">
		</div>
	</div>
</div>
<div class="dialog-msg-bottom">
	<button class="btn btn-info btn-sm" type="button" ng-click="ok()">确定</button>
	<button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
</div>