<div class="dialog-msg-title title-success">
	请选择商品
</div>
<div class="dialog-content">
	<div class="table-header">
		<span class="table-header-tools-left">
			商品编号:
			<input type="text"/>
			商品名称:
			<input type="text"/>
		</span>
	</div>
	<div style="max-height: 200px;overflow: auto;">
		<table>
			<tr>
				<td width="3%"><input type="checkbox" name="check" value="-1"/></td>
				<td width="13%">商品编号</td><td width="30%">名称</td><td width="30%">品牌</td>
				<td width="8%">库存</td>
				<td width="8%">单位</td>
				<td width="8%">售价</td>
			</tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>2.5</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
			<tr><td width="3%"><input type="checkbox" name="check" value="-1"/></td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td><td>GGGGG</td></tr>
		</table>
	</div>
</div>
<div class="dialog-msg-bottom">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">选择商品</button>
	<button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">返回</button>
</div>