<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lsbc.dao.GoodsTypeMapper">
	 <select id="findGoodsTypeByPage" resultType="GoodsType" parameterType="GoodsType">
		 SELECT 
			 id,
			 goods_type_name AS goodsTypeName
		FROM ls_goods_type
		WHERE 1=1 
			 <if test="goodsTypeName!=null and goodsTypeName!=''">
			   and goods_type_name LIKE CONCAT(CONCAT('%', #{goodsTypeName}),'%')
			 </if>
		<if test="orderField != null and orderField != ''">
		 order by ${orderField} 
		</if>
		limit #{pageSize} offset #{offset}
	 </select>

	 <select id="findPageCount" resultType="java.lang.Integer" parameterType="GoodsType">
		 SELECT count(1) FROM ls_goods_type
		 WHERE 1=1 
			 <if test="goodsTypeName!=null and goodsTypeName!=''">
			   and goods_type_name LIKE CONCAT(CONCAT('%', #{goodsTypeName}),'%')
			 </if>
	 </select>

	 <insert id="addGoodsType" parameterType="GoodsType">
		 INSERT INTO ls_goods_type(goods_type_name)
		 VALUES (#{goodsTypeName})
	 </insert>

	 <update id="updateGoodsType" parameterType="GoodsType">
		 UPDATE ls_goods_type SET goods_type_name= #{goodsTypeName}
		 WHERE id = #{id}
	 </update>

	 <delete id="delGoodsType" parameterType="GoodsType">
		 DELETE FROM ls_goods_type
		 WHERE 1=1 
			 <if test="goodsTypeName!=null">
			 and goods_type_name= #{goodsTypeName}
			 </if>
			 <if test="id!=null">
			 and id= #{id}
			 </if>
	 </delete>

	 <select id="getGoodsType" resultType="GoodsType" parameterType="GoodsType">
		 SELECT 
			 id,
			 goods_type_name AS goodsTypeName
		FROM ls_goods_type
		WHERE 1=1 
			 <if test="goodsTypeName!=null">
			 and goods_type_name= #{goodsTypeName}
			 </if>
			 <if test="id!=null">
			 and id= #{id}
			 </if>
	 </select>

</mapper>

