<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lsbc.dao.OrderMapper">
	 <select id="findOrderByPage" resultType="Order" parameterType="Order">
		 SELECT 
			 id,
			 order_date AS orderDate,
			 customer AS customer,
			 money AS money,
			 pay_type AS payType,
			 real_money AS realMoney,
			 order_type AS orderType,
			 user_id AS userId
		FROM ls_order
		WHERE 1=1 
			 <if test="customer!=null and customer!=''">
			   and customer LIKE CONCAT(CONCAT('%', #{customer}),'%')
			 </if>
		<!-- <if test="orderField != null and orderField != ''">
		 order by ${orderField} 
		</if> -->
		limit #{pageSize} offset #{offset}
	 </select>

	 <select id="findPageCount" resultType="java.lang.Integer" parameterType="Order">
		 SELECT count(1) FROM ls_order
		 WHERE 1=1 
			 <if test="customer!=null and customer!=''">
			   and customer LIKE CONCAT(CONCAT('%', #{customer}),'%')
			 </if>
	 </select>

	 <insert id="addOrder" parameterType="Order">
		 INSERT INTO ls_order(order_date,customer,money,pay_type,real_money,order_type,user_id)
		 VALUES (#{orderDate},#{customer},#{money},#{payType},#{realMoney},#{orderType},#{userId})
	 </insert>

	 <update id="updateOrder" parameterType="Order">
		 UPDATE ls_order SET order_date= #{orderDate},customer= #{customer},money= #{money},pay_type= #{payType},real_money= #{realMoney},order_type= #{orderType},user_id= #{userId}
		 WHERE id = #{id}
	 </update>

	 <delete id="delOrder" parameterType="Order">
		 DELETE FROM ls_order
		 WHERE 1=1 
			 <if test="orderDate!=null">
			 and order_date= #{orderDate}
			 </if>
			 <if test="customer!=null">
			 and customer= #{customer}
			 </if>
			 <if test="money!=null">
			 and money= #{money}
			 </if>
			 <if test="payType!=null">
			 and pay_type= #{payType}
			 </if>
			 <if test="realMoney!=null">
			 and real_money= #{realMoney}
			 </if>
			 <if test="orderType!=null">
			 and order_type= #{orderType}
			 </if>
			 <if test="userId!=null">
			 and user_id= #{userId}
			 </if>
			 <if test="id!=null">
			 and id= #{id}
			 </if>
	 </delete>

	 <select id="getOrder" resultType="Order" parameterType="Order">
		 SELECT 
			 id,
			 order_date AS orderDate,
			 customer AS customer,
			 money AS money,
			 pay_type AS payType,
			 real_money AS realMoney,
			 order_type AS orderType,
			 user_id AS userId
		FROM ls_order
		WHERE 1=1 
			 <if test="orderDate!=null">
			 and order_date= #{orderDate}
			 </if>
			 <if test="customer!=null">
			 and customer= #{customer}
			 </if>
			 <if test="money!=null">
			 and money= #{money}
			 </if>
			 <if test="payType!=null">
			 and pay_type= #{payType}
			 </if>
			 <if test="realMoney!=null">
			 and real_money= #{realMoney}
			 </if>
			 <if test="orderType!=null">
			 and order_type= #{orderType}
			 </if>
			 <if test="userId!=null">
			 and user_id= #{userId}
			 </if>
			 <if test="id!=null">
			 and id= #{id}
			 </if>
	 </select>

</mapper>

