<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lsbc.dao.OrderListMapper">
	 <select id="findOrderListByPage" resultType="OrderList" parameterType="OrderList">
		 SELECT 
			 id,
			 in_order_id AS inOrderId,
			 goods_id AS goodsId,
			 number AS number,
			 price AS price,
			 money AS money,
			 by_order_id AS byOrderId,
			 remark AS remark
		FROM ls_order_list
		WHERE 1=1 
			 <if test="remark!=null and remark!=''">
			   and remark LIKE CONCAT(CONCAT('%', #{remark}),'%')
			 </if>
		<if test="orderField != null and orderField != ''">
		 order by ${orderField} 
		</if>
		limit #{pageSize} offset #{offset}
	 </select>

	 <select id="findPageCount" resultType="java.lang.Integer" parameterType="OrderList">
		 SELECT count(1) FROM ls_order_list
		 WHERE 1=1 
			 <if test="remark!=null and remark!=''">
			   and remark LIKE CONCAT(CONCAT('%', #{remark}),'%')
			 </if>
	 </select>

	 <insert id="addOrderList" parameterType="OrderList">
		 INSERT INTO ls_order_list(in_order_id,goods_id,number,price,money,by_order_id,remark)
		 VALUES (#{inOrderId},#{goodsId},#{number},#{price},#{money},#{byOrderId},#{remark})
	 </insert>

	 <update id="updateOrderList" parameterType="OrderList">
		 UPDATE ls_order_list SET in_order_id= #{inOrderId},goods_id= #{goodsId},number= #{number},price= #{price},money= #{money},by_order_id= #{byOrderId},remark= #{remark}
		 WHERE id = #{id}
	 </update>
	 
	 <update id="addGoodsNumber" parameterType="OrderList">
		 UPDATE ls_goods SET number = number + #{number}
		 WHERE id = #{goodsId}
	 </update>
	 <update id="minusGoodsNumber" parameterType="OrderList">
		 UPDATE ls_goods SET number = number - #{number}
		 WHERE id = #{goodsId}
	 </update>

	 <delete id="delOrderList" parameterType="OrderList">
		 DELETE FROM ls_order_list
		 WHERE 1=1 
			 <if test="inOrderId!=null">
			 and in_order_id= #{inOrderId}
			 </if>
			 <if test="goodsId!=null">
			 and goods_id= #{goodsId}
			 </if>
			 <if test="number!=null">
			 and number= #{number}
			 </if>
			 <if test="price!=null">
			 and price= #{price}
			 </if>
			 <if test="money!=null">
			 and money= #{money}
			 </if>
			 <if test="byOrderId!=null">
			 and by_order_id= #{byOrderId}
			 </if>
			 <if test="remark!=null">
			 and remark= #{remark}
			 </if>
			 <if test="id!=null">
			 and id= #{id}
			 </if>
	 </delete>

	 <select id="getOrderList" resultType="OrderList" parameterType="OrderList">
		 SELECT 
			 id,
			 in_order_id AS inOrderId,
			 goods_id AS goodsId,
			 number AS number,
			 price AS price,
			 money AS money,
			 by_order_id AS byOrderId,
			 remark AS remark
		FROM ls_order_list
		WHERE 1=1 
			 <if test="inOrderId!=null">
			 and in_order_id= #{inOrderId}
			 </if>
			 <if test="goodsId!=null">
			 and goods_id= #{goodsId}
			 </if>
			 <if test="number!=null">
			 and number= #{number}
			 </if>
			 <if test="price!=null">
			 and price= #{price}
			 </if>
			 <if test="money!=null">
			 and money= #{money}
			 </if>
			 <if test="byOrderId!=null">
			 and by_order_id= #{byOrderId}
			 </if>
			 <if test="remark!=null">
			 and remark= #{remark}
			 </if>
			 <if test="id!=null">
			 and id= #{id}
			 </if>
	 </select>

</mapper>

