<div class="sense-add">
	<div class="sense-add-row" style="font-size: 20px;margin-top: 50px;">
		商品信息录入
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</span>
			<input ng-model="regist.goodsName" type="text" maxlength="20" class="form-control" placeholder="请输入商品名称">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</span>
			<input ng-model="regist.address" type="text" maxlength="20" class="form-control" placeholder="请输入商品产地">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-phone"></span>
			</span>
			<input ng-model="regist.factory" type="text" maxlength="20" class="form-control" placeholder="请输入生产厂家">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-star-empty"></span>
			</span>
			<input ng-model="regist.unit" type="text" maxlength="20" class="form-control" placeholder="请输入商品单位">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-star-empty"></span>
			</span>
			<select ng-model="regist.goodsTypeId" class="form-control">
				<option value="1" selected = "selected">板材</option>
				<option value="2">五金</option>
				<option value="3">门</option>
				<option value="4">地板</option>
				<option value="5">方条</option>
				<option value="6">吊顶</option>
			</select>

		</div>
	</div>
	<div class="sense-add-row" style="margin-bottom: 150px;">
		<button ng-click="submit()" type="button" class="btn btn-primary btn-block">确认添加</button>
	</div>
</div>