<div class="sense-add">
	<div class="sense-add-row" style="font-size: 20px;">
		用户信息录入
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			</span>
			<input ng-model="regist.username" type="text" maxlength="20" class="form-control" placeholder="请输入用户名">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</span>
			<input ng-model="regist.password" type="password" maxlength="20" class="form-control" placeholder="请输入密码">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</span>
			<input ng-model="repassword" type="password" maxlength="20" class="form-control" placeholder="请再次确认密码">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</span>
			<input ng-model="regist.realname" type="text" maxlength="20" class="form-control" placeholder="请输入真实姓名">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-phone"></span>
			</span>
			<input ng-model="regist.phone" type="text" maxlength="20" class="form-control" placeholder="请输入联系方式">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-star-empty"></span>
			</span>
			<select ng-model="regist.sex" class="form-control" value="性别">
				<option value="1" select="selected">男</option>
				<option value="2">女</option>
			</select>

		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-map-marker"></span>
			</span>
			<input ng-model="regist.address" type="text" maxlength="20" class="form-control" placeholder="请输入地址信息">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-star-empty"></span>
			</span>
			<select ng-model="regist.roleId" class="form-control">
				<option value="-1">请选择</option>
				<option value="1">管理员</option>
				<option value="2">普通用户</option>
			</select>

		</div>
	</div>
	<div class="sense-add-row">
		<button ng-click="registSubmit()" type="button" class="btn btn-primary btn-block">确认添加</button>
	</div>
</div>