<div class="table-header">
	<button class="btn btn-default">数据筛选条件</button>
	<button class="btn btn-default">清除筛选条件</button>
	<div class="table-header-tools-right">
		<button class="btn btn-default" ng-click="add()">添加</button>
		<button class="btn btn-default" ng-click="modify()">修改</button>
		<button class="btn btn-default" ng-click="del()">删除</button>
	</div>
</div>
<table>
	<tr><td>用户名</td><td>性别</td><td>真实姓名</td><td>联系方式</td><td>地址</td><td>角色</td></tr>
	<tr ng-if="userList.length > 0" ng-repeat="user in userList">
		<td>{{user.username}}</td>
		<td>{{user.sex}}</td>
		<td>{{user.realname}}</td>
		<td>{{user.phone}}</td>
		<td>{{user.address}}</td>
		<td>{{user.roleId}}</td>
	</tr>
	<tr ng-if="userList.length == 0"><td align="center" colspan="6">抱歉,未找到相关的数据!</td></tr>
</table>
<div ng-if="userList.length > 0" class="table-bottom">
</div>