
<div class="table-header">
	<span class="table-header-tools-left">
		客户单位:
		<input ng-model="order.customer" type="text"/>
		订单类型:
		<select ng-model="order.orderType">
			<option value='3'>销售订单</option>
			<option value='4'>零售订单</option>
		</select>
		付款方式:
		<select ng-model="order.payType">
			<option value='1'>现金支付</option>
			<option value='2'>刷卡支付</option>
			<option value='3'>现金+刷卡</option>
		</select>
	</span>
	<div class="table-header-tools-right">
		<button class="btn btn-default" ng-click="clearSelect()">清空选中项</button>
		<button class="btn btn-default">保存</button>
		<button class="btn btn-default">打印</button>
		<button class="btn btn-default" ng-click="addOrder()">出库</button>
	</div>
</div>
<table>
	<tr>
		<td width="3%"><input type="radio" ng-model="select" name="check" value="-1"/></td>
		<td width="10%">商品编号</td>
		<td width="25%">商品名称</td>
		<td width="25%">商品品牌</td>
		<td width="5%">数量</td>
		<td width="5%">单位</td>
		<td width="5%">单价</td>
		<td width="5%">金额</td>
		<td width="17%">备注</td>
	</tr>
	<tr ng-repeat="goods in goodsList" ng-click="goodsSelect($index)">
		<td width="3%"><input type="radio" ng-model="select" name="check" value="{{$index}}"/></td>
		<td width="10%" ng-click="chooseGoods()">{{goods.id}}</td>
		<td width="25%">{{goods.goodsName}}</td>
		<td width="25%">{{goods.address}}</td>
		<td width="5%"><!-- {{goods.id != null ? 0 : ''}} --><!--{{goods.number}}-->
			<input ng-model="goods.number" type="text" style="width: 100%;border: 0px;background: rgba(0,0,0,0);"/>
		</td>
		<td width="5%">{{goods.unit}}</td>
		<td width="5%"><!-- {{}} -->
			<input ng-model="goods.price"  type="text" style="width: 100%;border: 0px;background: rgba(0,0,0,0);"/>
		</td>
		<td width="5%">{{goodsRowMoney(goods)}}</td>
		<td width="17%">{{goods.remark}}</td>
	</tr>
</table>
<div class="table-bottom text-right">
	商品总金额:{{goodMoney_()}}元,实付金额:{{goodMoney()}}元,优惠金额:{{goodMoney_()-goodMoney()}}元
</div>