<div class="table-header">
	<button class="btn btn-default">数据筛选条件</button>
	<button class="btn btn-default">清除筛选条件</button>
	<div class="table-header-tools-right">
		<button class="btn btn-default">添加</button>
		<button class="btn btn-default">修改</button>
		<button class="btn btn-default">删除</button>
	</div>
</div>
<table>
	<tr>
		<td>订单编号</td>
		<td>订单日期</td>
		<td>商家</td>
		<td>订单类型</td>
		<td>金额</td>
		<td>操作人ID</td>
	</tr>
	<tr ng-if="orders.length > 0" ng-repeat="order in orders">
		<td>{{order.id}}</td>
		<td>{{order.orderDate}}</td>
		<td>{{order.customer}}</td>
		<td>{{order.orderType}}</td>
		<td>{{order.money}}</td>
		<td>{{order.userId}}</td>
	</tr>
</table>
<div class="table-bottom">
</div>