<div class="subnav-title">
	<span class="glyphicon glyphicon-cloud-download"></span>
	<span>出库管理</span>
</div>
<div class="subnav-choose">
	<div class="subnav-choose-item" ng-click="subClick(0)" ng-class="{true:'subnav-choose-item-check',false:''}[subList[0].active]">
		<span class="glyphicon glyphicon-file"></span>
		<span class="subnav-choose-item-text">创建订单</span>
	</div>
	<div class="subnav-choose-item" ng-click="subClick(1)" ng-class="{true:'subnav-choose-item-check',false:''}[subList[1].active]">
		<span class="glyphicon glyphicon-list-alt"></span>
		<span class="subnav-choose-item-text">订单列表</span>
	</div>
</div>
