<div class="table-header">
	<span class="table-header-tools-left">
		订单编号:
		<input ng-model="search.id" ng-change="searchChange()" type="text"/>
		客户名称:
		<input ng-model="search.customer" ng-change="searchChange()" type="text"/>
		操作人员:
		<input ng-model="search.userId" ng-change="searchChange()" type="text"/>
		订单类型:
		<select ng-model="search.orderType" ng-change="searchChange()">
			<option value="3">销售订单</option>
			<option value="4">零售订单</option>
		</select>
	</span>
	<div class="table-header-tools-right">
		<button class="btn btn-default" ng-click="resetSearch()">清除筛选条件</button>
	</div>
</div>
<table>
	<tr>
		<td>订单编号</td>
		<td>销售客户</td>
		<td>订单类型</td>
		<td>金额</td>
		<td>操作人ID</td>
		<td>订单日期</td>
	</tr>
	<tr ng-if="orders.length > 0" ng-repeat="order in orders">
		<td>{{order.id}}</td>
		<td>{{order.customer}}</td>
		<td>{{order.orderType | params:'order'}}</td>
		<td>{{order.realMoney}}</td>
		<td>{{order.userId}}</td>
		<td>{{order.orderDate}}</td>
	</tr>
	<tr ng-if="orders.length == 0"><td align="center" colspan="6">抱歉,未找到相关的数据!</td></tr>
</table>
<div class="table-bottom">
</div>