<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Page" type="com.lsbc.model.Page"/>
		<typeAlias alias="Goods" type="com.lsbc.model.Goods"/>
		<typeAlias alias="GoodsType" type="com.lsbc.model.GoodsType"/>
		<typeAlias alias="Order" type="com.lsbc.model.Order"/>
		<typeAlias alias="OrderList" type="com.lsbc.model.OrderList"/>
		<typeAlias alias="OrderType" type="com.lsbc.model.OrderType"/>
		<typeAlias alias="Role" type="com.lsbc.model.Role"/>
		<typeAlias alias="UserInfo" type="com.lsbc.model.UserInfo"/>
		<typeAlias alias="Goods" type="com.lsbc.model.Goods"/>
	</typeAliases>
</configuration>
