<div class="sense-add">
	<div class="sense-add-row" style="font-size: 20px;">
		新建订单
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请输入用户名">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请输入密码">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请再次确认密码">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-phone"></span>
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请输入联系方式">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-map-marker"></span>
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请输入地址信息">
		</div>
	</div>
	<div class="sense-add-row">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-star-empty"></span>
			</span>
			<input ng-model="login.username" type="text" maxlength="20" class="form-control" placeholder="请选择角色信息">
		</div>
	</div>
	<div class="sense-add-row">
		<button ng-click="submit()" type="button" class="btn btn-primary btn-block">确认添加</button>
	</div>
</div>