<div class="table-header">
	<span class="table-header-tools-left">
		订单编号:
		<input ng-model="search.goodsName" ng-change="searchChange()" type="text"/>
		客户名称:
		<input ng-model="search.goodsName" ng-change="searchChange()" type="text"/>
		操作人员:
		<input ng-model="search.goodsName" ng-change="searchChange()" type="text"/>
		订单类型:
		<select ng-model="search.goodsTypeId" ng-change="searchChange()">
			<option value="">全部类型</option>
			<option value="1">进货订单</option>
			<option value="2">退货订单</option>
			<option value="3">销售订单</option>
			<option value="4">零售订单</option>
		</select>
	</span>
	<div class="table-header-tools-right">
		<button class="btn btn-default">清除筛选条件</button>
	</div>
</div>
<table>
	<tr>
		<td>订单编号</td>
		<td>生产厂家</td>
		<td>订单类型</td>
		<td>金额</td>
		<td>操作人ID</td>
		<td>订单日期</td>
	</tr>
	<tr ng-if="orders.length > 0" ng-repeat="order in orders">
		<td>{{order.id}}</td>
		<td>{{order.customer}}</td>
		<td>{{order.orderType | params:'order'}}</td>
		<td>{{order.money}}</td>
		<td>{{order.userId}}</td>
		<td>{{order.orderDate}}</td>
	</tr></table>
<div class="table-bottom">
</div>